html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}


@-webkit-keyframes shang{
	0%{-webkit-transform:translateY(0%);
		transform:translateY(0%);
		visibility:visible;opacity:1;
	}
	100%{
		-webkit-transform:translateY(-30%);
		transform:translateY(-30%);
		opacity:0;
	}
}
/* .screens{
	position: relative;
	overflow: hidden;
} */

.first_slide{
	bottom: 0;
	left: 0;
	position: absolute;
	background-image:url(../resource/img/share/bg.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
}
.first_slide .slideUp{
	color: #000;
	font-size: 40px;
	position: absolute;
	bottom: 5%;
	left: 47%;
	-webkit-animation:shang 2s linear 0s infinite forwards;
}
.second_slide{
	left: 0;
	position: absolute;
	width: 100%;
	background-image:url(../resource/img/share/up.jpg);
	background-size: cover;
	height: 6450px;
	display: none;
}
.second_slide .button{
	position: absolute;
  	left: 197px;
}
.second_slide .NewYork{
	top: 844px;
}
.second_slide .Paris{
	top: 1265px;
}
.second_slide .Singapore{
	top: 1715px;
}
.second_slide .Seoul{
	top: 2200px;
}
.second_slide .Boston{
	top: 2650px;
}
.second_slide .Japan{
	top: 3100px;
}
.second_slide .Korea{
	top: 3575px;
}



.show{
	display: block;
}

.nextone{-webkit-transform:translate3d(0,17.4%,0);}
.active{-webkit-transform:translate3d(0,0%,0);-webkit-transition:0.6s;}
.prv{-webkit-transform:translate3d(0,-100%,0);-webkit-transition:0.6s;}